.np0 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.np1 {
  font-size: 14px;
  color: #6e6b7b;
  font-weight: 600;
}

.np2 {
  color: #6e6b7b;
  font-weight: 400;
  font-size: 14px;
}

.np3 {
  font-size: 12px;
  font-weight: 400;
  color: #5e5873;
}

.np4 {
  border-radius: 5px;
  border: 1px solid #d8d6de;
  color: #6e6b7b;
  font-size: 14px;
  outline: none;
}

.np4::placeholder {
  color: #d8d6de;
  font-style: italic;
}

.np5 {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  color: #79b0f2;
}

/* .np6 {
  height: 100px;
} */

.np7 {
  background-color: #f50022;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.np7:hover,
.np8,
.np8:hover {
  border: 1px solid #f50022;
  color: #f50022;
  font-size: 14px;
  font-weight: 400;
}
