.l1 {
  height: 100vh;
  background-image: url("../public/Assets/Shapes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.l2 {
  font-size: 18px;
  font-weight: 500;
  color: #5e5873;
}

.l3 {
  font-size: 14px;
  color: #6e6b7b;
}

.l4 {
  font-size: 12px;
  font-weight: 400;
  color: #6e6b7b;
}

.inputs {
  font-size: 14px;
  border: 1px solid#D8D6DE;
  outline: none;
}

.inputs::placeholder {
  color: #d8d6de;
}

.l5 {
  color: #f50022;
  font-size: 12px;
}

.l6,
.l6:hover {
  background-color: #f50022;
  color: white;
}

.l7 {
  color: #f50022;
  font-size: 14px;
}
